<div class="container px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
            <h2>Sobre Nosotros</h2>
            <p class="lead">
                GHM Ingenieros & Servicios Industriales S.A.C. se basa en la experiencia de nuestros profesionales en los sectores de la industria metalmecánica, fabricación de equipos para minería, embarcaciones, industria del petróleo (onshore y offshore), gas, energía, inspección de gasoductos y oleoductos, refinería de petróleo, muelles con pilotes, puentes estructurales, centrales termoeléctricas, centrales hidráulicas y en la industria en general.
            </p>
            <ul>
                <li>
                    GHM Ingenieros & Servicios Industriales S.A.C. se creó para satisfacer una necesidad en nuestra industria actual: Inspectores y Supervisores de servicios avanzados competentes, calificados y certificados.
                </li>
                <li>
                    GHM Ingenieros & Servicios Industriales S.A.C. tiene la capacidad de proporcionar Inspectores y Supervisores experimentados y certificados, que pueden realizar y supervisar inspecciones no destructivas de acuerdo con procedimientos estándar o establecidos.
                </li>
                <li>
                    Nuestro equipo de ingenieros y técnicos altamente capacitados cuenta con más de 15 años de experiencia en la industria. Nuestra vasta experiencia nos ayuda a brindar soluciones que dan como resultado una combinación de técnicas convencionales y avanzadas. 
                </li>
            </ul>
        </div>
    </div>
</div>