<div class="container px-4">
    <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
            <h2>Política de Calidad</h2>
            <p class="lead">Estamos comprometidos a proporcionar a los clientes un servicio de la más alta calidad posible.
                La principal obligación de INSPECTECH INGENIEROS es satisfacer las necesidades y expectativas de nuestros clientes, lo que se logra mediante la implementación competente de nuestro Sistema de gestión de calidad (SGC). INSPECTECH INGENIEROS cree en la importancia de la satisfacción del cliente, la gestión basada en la calidad y una cultura de desarrollo progresivo.
            </p>
            <ul>
                <h5>Nuestro compromiso se basa en lo siguiente:</h5>
                <li>
                    Presentar la mejor información disponible a nuestros clientes a tiempo, siempre.
                </li>
                <li>
                    Entregar informes dentro de los plazos acordados, lo que permite a los operadores gestionar los plazos internos con confianza.
                </li>
                <li>
                    Ser un líder de la industria en la utilización de técnicas y tecnologías modernas y mantener un desarrollo sostenible en todas las áreas.
                </li>
                <li>
                    Cumplimiento de las obligaciones legales, estándares y especificaciones relevantes para la gestión de la calidad.
                </li>
                <li>
                    Mejora continua para satisfacer los requisitos del cliente con respecto a la calidad.
                </li>
                <li>
                    Proporcionar recursos suficientes y adecuados para implementar y mantener el SGS.
                </li>
                <li>
                    Educar y capacitar a nuestro personal para mejorar continuamente la conciencia y el conocimiento de los problemas y prácticas de calidad.
                </li>
                <li>
                    Implementar programas de mejora continua para mejorar gradualmente nuestros sistemas y procesos.
                </li>
                <li>
                    Ser percibidos como una opción competitiva y rentable en el mercado.
                </li>
                <li>
                    Establecer, revisar y comunicar mediciones de rendimiento y tomar medidas para mejorar los resultados. INSPECTECH INGENIEROS se esforzará por lograr lo mejor para la industria, planificando y ejecutando meticulosamente cada proyecto. La mejora continua nos impulsa hacia nuestro objetivo de 100 % de éxito en la primera ejecución y entrega a tiempo.
                </li>
            </ul>
            <h6>
                Es responsabilidad de todos los empleados de INSPECTECH INGENIEROS apoyar y aplicar la política de calidad en lo que respecta a sus actividades. Esta política está disponible para las partes interesadas según corresponda.
            </h6>
            <p>
                Genaro Huerta Melgarejo<br>
                Gerente General<br>
                Lima, 5 de Noviembre de 2022
            </p>
        </div>
    </div>
</div>