{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Capacitación y Certificación NDT-AWS{% endblock %}
{% block content %}
<div class="container px-4 py-5">
    <a href="/#services" class="btn btn-outline-secondary mb-4"><i class="fas fa-arrow-left me-2"></i>Volver a Servicios</a>
    <h1 class="mb-4 text-danger">Capacitación y Certificación NDT-AWS</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="{% static 'assets/cover_photos/foto0.jpg' %}" class="img-fluid rounded shadow mb-4" alt="Capacitación y Certificación NDT-AWS">
        </div>
        <div class="col-md-6">
            <div>
                <p>INSPECTECH INGENIEROS brinda el programa de capacitación personalizado el cual se puede diseñar y organizar según los requisitos específicos de los clientes. Si necesita ayuda para maximizar la producción de calidad, reducir la crisis y reducir el costo principal de producción, lo alentamos a que se someta a nuestros programas de capacitación.<br><br>
                Con una metodología flexible, nuestra capacitación está dirigida a quienes desean incrementar, mejorar o reforzar conocimientos en Ensayos No Destructivos (NDT) e Inspectores de Soldadura Calificados (CWI).<br><br>
                Nuestra gama de cursos especializados incluye:<br>
                Cursos NDT Nivel I, II según ASNT SNT-TC-1A en RT, UT, MT, PT y VT.<br>
                El cual busca otorgar una adecuada formación y certificación profesional, de acuerdo con la práctica recomendada SNT-TC-1A de la American Society for Nondestructive Testing a través de una compañía.<br>
                Cursos de Inspector de Soldadura (CWI).<br><br>
                Todos nuestros cursos son impartidos por personal capacitado y con experiencia en cada uno de los métodos que imparte; además, son desarrollados de acuerdo con lo establecido en SNT-TC- 1A y todos nuestros temarios cumplen con lo establecido en CP-105, y avalados por un Nivel III ASNT en cada uno de los métodos que se imparten.<br><br>
                Las fechas y el lugar son adaptados de acuerdo con las necesidades del cliente, permitiendo acoplar las jornadas laborales y organizar al personal que se desea capacitar.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 