{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Elaboración y Calificación de Procedimientos{% endblock %}
{% block content %}
<div class="container px-4 py-5">
    <a href="/#services" class="btn btn-outline-secondary mb-4"><i class="fas fa-arrow-left me-2"></i>Volver a Servicios</a>
    <h1 class="mb-4 text-danger">Elaboración y Calificación de Procedimientos</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="{% static 'assets/cover_photos/foto0.jpg' %}" class="img-fluid rounded shadow mb-4" alt="Elaboración y Calificación de Procedimientos">
        </div>
        <div class="col-md-6">
            <div>
                <h4 class="fw-bold">Calificación de Procedimientos de Soldadura y Soldadores (WPS – PQR – WPQR)</h4>
                <p>La Calificación de Soldaduras y Soldadores es un proceso que va tomando mayor importancia y demanda en nuestro medio, pues se requiere que las soldaduras ejecutadas en una amplia variedad de aplicaciones de Ingeniería Mecánica cumplan con los requisitos del Código de Calificación aplicado; para de esta forma, alcanzar en cada caso los estándares de calidad convenientes; debiéndose tener en cuenta que, dicho código debe elegirse de acuerdo al tipo de servicio que prestará la soldadura y a las características del material a soldar.</p>
                <hr>
                <h4 class="fw-bold">Calificación de procedimientos NDT</h4>
                <p>Elaboración, revisión y asesoramientos de Procedimientos por Ingeniero y Nivel III ASNT quienes se encuentran en constante capacitación y actualización para brindar el mejor servicio según las necesidades de su empresa. Nuestro servicio personalizado permite que el Ingeniero haga un acompañamiento virtual de sus requerimientos.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 