{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Tratamiento Térmico – Dureza{% endblock %}
{% block content %}
<div class="container px-4 py-5">
    <a href="/#services" class="btn btn-outline-secondary mb-4"><i class="fas fa-arrow-left me-2"></i>Volver a Servicios</a>
    <h1 class="mb-4 text-danger">Tratamiento Térmico – Dureza</h1>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="{% static 'assets/cover_photos/foto0.jpg' %}" class="img-fluid rounded shadow mb-4" alt="Tratamiento Térmico – Dureza">
        </div>
        <div class="col-md-6">
            <div>
                <h4 class="fw-bold">Tratamiento Térmico</h4>
                <p>Se debe aplicar un tratamiento térmico posterior (PWHT) a la soldadura a algunos aceros soldados para garantizar que las propiedades de la soldadura sean adecuadas para las aplicaciones previstas.<br>
                La temperatura a la que se lleva a cabo la PWHT suele estar muy por debajo de la temperatura en la que pueden ocurrir cambios de fase, pero lo suficientemente alta como para permitir que las tensiones residuales se alivie rápidamente y para suavizar (templar) cualquier región dura en la zona afectada por el calor (ZAC).<br>
                Existen importantes beneficios al reducir la tensión residual y garantizar que la dureza de la ZAC no sea demasiado alta para aceros particulares con ciertas aplicaciones de servicio.<br>
                Ejemplos de estos beneficios son:</p>
                <ul>
                    <li>Mejora de la resistencia de la articulación a fractura frágil.</li>
                    <li>Mejora de la resistencia de la junta al agrietamiento por corrosión bajo tensión.</li>
                    <li>Permite mecanizar juntas soldadas con tolerancias dimensionales precisas.</li>
                </ul>
                <p>Debido a que la razón principal (y el beneficio) de PWHT es reducir las tensiones residuales, a menudo se denomina alivio de tensión a PWHT.</p>
                <hr>
                <h4 class="fw-bold">Dureza</h4>
                <p>La dureza de un material se define como la resistencia a la deformación plástica por indentación. La dureza de indentación se puede medir mediante varias pruebas de dureza, como Brinell, Rockwell, Knoop y Vickers.<br>
                Las mediciones de dureza pueden proporcionar información sobre los cambios metalúrgicos causados por la soldadura. En los aceros aleados, una medición de dureza alta podría indicar la presencia de martensita no revenida en la soldadura o en la zona afectada por el calor, mientras que una dureza baja puede indicar una condición de revenido excesivo.<br>
                Existe una interrelación aproximada entre los diferentes resultados de las pruebas de dureza y la resistencia a la tracción de algunos metales. La correlación entre los valores de dureza y la resistencia a la tracción debe usarse con precaución cuando se aplica a uniones soldadas o cualquier metal con una estructura heterogénea.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 