<div class="accordion-item mb-3 border-0 shadow-sm">
    <h3 class="accordion-header">
        <button class="accordion-button collapsed bg-danger text-white fs-4 fw-bold" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapseTT">
            <i class="fas fa-fire me-3"></i> TRATAMIENTO TÉRMICO
        </button>
    </h3>
    <div id="collapseTT" class="accordion-collapse collapse" data-bs-parent="#serviciosAccordion">
        <div class="accordion-body">
            
        </div>
    </div>
</div>