{% extends "partials/base.html" %}
{% block title %}
    Ingenieros & Servicios Industriales
{% endblock %}



{% block content %}
<body id="page-top">
    <!-- Header-->
    {% include 'partials/header.html' %}
    
    <!-- About section-->
    <section id="about">
        {% include 'partials/content/about.html' %}
    </section>
    
    <!-- Services section-->
    <section class="bg-light" id="services">
        {% include 'partials/content/services.html' %}
    </section>

    <!-- Quality section-->
    <section class="bg-light" id="quality">
        {% include 'partials/content/quality.html' %}
    </section>
    <!-- Contact section-->
    <section id="contact">
        {% include 'partials/content/contact.html' %}
    </section>
</body>
{% endblock %}
